obsidian/Collecte Donnée FIRMS NASA automatique.json
{
  "name": "Collecte Donnée FIRMS NASA automatique",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "key-001",
              "name": "MAP_KEY",
              "value": "2a484921ba4e98b12167c8dd4de8b178",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "31c0626f-1ef9-4860-9989-4807042f426d",
      "name": "🔑 Set MAP_KEY",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        144
      ]
    },
    {
      "parameters": {
        "url": "=https://firms.modaps.eosdis.nasa.gov/api/area/csv/{{ $json.MAP_KEY }}/MODIS_NRT/43,-26,51,-11/1",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "c967a174-3085-4090-a277-b963c7f55178",
      "name": "🛰 HTTP MODIS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ── Tag MODIS ──────────────────────────────────────────\nconst item = $input.first();\n\n// Détecter erreur HTTP (onError: continueRegularOutput)\nif (item.json.error) {\n  return [{\n    json: {\n      source: 'MODIS_NRT',\n      data: '',\n      fetchError: `HTTP Error MODIS: ${JSON.stringify(item.json.error)}`\n    }\n  }];\n}\n\nconst rawData = typeof item.json.data === 'string'\n  ? item.json.data\n  : JSON.stringify(item.json) || '';\n\nreturn [{\n  json: {\n    source: 'MODIS_NRT',\n    data: rawData,\n    fetchError: null\n  }\n}];"
      },
      "id": "4b46913a-1e67-41bf-b658-cbc07377c29e",
      "name": "🏷 Tag MODIS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://firms.modaps.eosdis.nasa.gov/api/area/csv/{{ $json.MAP_KEY }}/VIIRS_NOAA20_NRT/43,-26,51,-11/1",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "a4b43946-a454-4a1a-8c66-137662a56118",
      "name": "🛰 HTTP VIIRS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        288
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ── Tag VIIRS ──────────────────────────────────────────\nconst item = $input.first();\n\nif (item.json.error) {\n  return [{\n    json: {\n      source: 'VIIRS_NOAA20_NRT',\n      data: '',\n      fetchError: `HTTP Error VIIRS: ${JSON.stringify(item.json.error)}`\n    }\n  }];\n}\n\nconst rawData = typeof item.json.data === 'string'\n  ? item.json.data\n  : JSON.stringify(item.json) || '';\n\nreturn [{\n  json: {\n    source: 'VIIRS_NOAA20_NRT',\n    data: rawData,\n    fetchError: null\n  }\n}];"
      },
      "id": "abb97f11-6994-451d-9c82-038d6799bcd2",
      "name": "🏷 Tag VIIRS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        288
      ]
    },
    {
      "parameters": {},
      "id": "13295656-e896-4de4-861a-3bcdb614b8ec",
      "name": "🔀 Merge MODIS + VIIRS",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        480,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// FIRMS CSV Processor – Madagascar\n// Traitement unifié MODIS_NRT + VIIRS_NOAA20_NRT\n// Équivalent JS du script Python Format_datetime + nettoyage\n// ============================================================\n\nconst allItems = $input.all();\nconst processedRecords = [];\nconst processingErrors = [];\n\n// ── 1. Parser CSV brut ───────────────────────────────────────\nfunction parseCSV(csvText) {\n  if (!csvText || typeof csvText !== 'string') return [];\n\n  const lines = csvText\n    .replace(/\\r/g, '')  // normaliser CRLF\n    .trim()\n    .split('\\n')\n    .filter(l => l.trim() !== '');\n\n  if (lines.length < 2) return [];\n\n  // Headers en minuscules\n  const headers = lines[0]\n    .split(',')\n    .map(h => h.trim().toLowerCase());\n\n  const rows = [];\n  for (let i = 1; i < lines.length; i++) {\n    const vals = lines[i].split(',');\n    if (vals.length < headers.length) continue;\n    const row = {};\n    headers.forEach((h, j) => {\n      row[h] = (vals[j] !== undefined ? vals[j] : '').trim();\n    });\n    rows.push(row);\n  }\n  return rows;\n}\n\n// ── 2. Formatage datetime (equiv Python Format_datetime) ─────\n// acq_time est HHMM sur 4 chiffres (ex: 538 → 0538)\nfunction fmtAcqDatetime(acqDate, acqTime) {\n  try {\n    if (!acqDate) return null;\n    const t = String(acqTime || '0').padStart(4, '0');\n    const hh = t.slice(0, 2);\n    const mm = t.slice(2, 4);\n    if (parseInt(hh) > 23 || parseInt(mm) > 59) return null;\n    const dt = new Date(`${acqDate}T${hh}:${mm}:00Z`);\n    return isNaN(dt.getTime()) ? null : dt.toISOString();\n  } catch (e) {\n    return null;\n  }\n}\n\n// ── 3. Validation et normalisation d'une ligne ───────────────\nfunction processRow(row, source) {\n  // Coordonnées\n  const latitude  = parseFloat(row.latitude);\n  const longitude = parseFloat(row.longitude);\n  if (isNaN(latitude) || isNaN(longitude)) return null;\n\n  // Bounds Madagascar (avec marge)\n  if (latitude < -27 || latitude > -10.5 || longitude < 42 || longitude > 52) return null;\n\n  // Datetime obligatoire\n  const acq_datetime = fmtAcqDatetime(row.acq_date, row.acq_time);\n  if (!acq_datetime) return null;\n\n  // FRP valide et > 0 (condition métier : vrai feu détecté)\n  const frp = parseFloat(row.frp);\n  if (isNaN(frp) || frp <= 0) return null;\n\n  // Résolution brightness selon capteur :\n  // MODIS  → brightness   + bright_t31\n  // VIIRS  → bright_ti4  + bright_ti5\n  const raw_brightness = row.brightness || row.bright_ti4 || null;\n  const raw_secondary  = row.bright_t31 || row.bright_ti5 || null;\n\n  const brightness       = raw_brightness ? parseFloat(raw_brightness) : null;\n  const bright_secondary = raw_secondary  ? parseFloat(raw_secondary)  : null;\n\n  return {\n    source,\n    latitude,\n    longitude,\n    acq_datetime,\n    satellite:       row.satellite   || null,\n    instrument:      row.instrument  || null,\n    confidence:      row.confidence !== undefined ? String(row.confidence) : null,\n    version:         row.version     || null,\n    frp,\n    scan:            row.scan  ? parseFloat(row.scan)  : null,\n    track:           row.track ? parseFloat(row.track) : null,\n    daynight:        row.daynight ? row.daynight.toUpperCase().charAt(0) : null,\n    brightness:      (brightness       !== null && !isNaN(brightness))       ? brightness       : null,\n    bright_secondary:(bright_secondary !== null && !isNaN(bright_secondary)) ? bright_secondary : null\n  };\n}\n\n// ── 4. Boucle principale ─────────────────────────────────────\nfor (const item of allItems) {\n  const { source, data: csvData, fetchError } = item.json;\n\n  // Erreur HTTP amont\n  if (fetchError) {\n    processingErrors.push(fetchError);\n    continue;\n  }\n\n  if (!csvData || csvData.trim() === '') {\n    processingErrors.push(`[${source}] Aucune donnée CSV reçue de l'API FIRMS`);\n    continue;\n  }\n\n  // Vérifier que la réponse contient bien un header CSV attendu\n  const lowerData = csvData.slice(0, 200).toLowerCase();\n  if (!lowerData.includes('latitude') || (!lowerData.includes('brightness') && !lowerData.includes('bright_ti4'))) {\n    processingErrors.push(`[${source}] Réponse API non-CSV : ${csvData.slice(0, 120)}`);\n    continue;\n  }\n\n  try {\n    const rows = parseCSV(csvData);\n    let validCount = 0;\n\n    for (const row of rows) {\n      const record = processRow(row, source);\n      if (record) {\n        processedRecords.push(record);\n        validCount++;\n      }\n    }\n\n    if (validCount === 0) {\n      processingErrors.push(`[${source}] 0 point valide sur ${rows.length} lignes CSV`);\n    }\n  } catch (e) {\n    processingErrors.push(`[${source}] Erreur traitement CSV : ${e.message}`);\n  }\n}\n\n// ── 5. Sortie ─────────────────────────────────────────────────\nif (processedRecords.length === 0) {\n  // Aucun point de feu → branche false du IF\n  return [{\n    json: {\n      hasData: false,\n      total_points: 0,\n      errors: processingErrors,\n      message: 'Aucun point de feu détecté pour Madagascar'\n    }\n  }];\n}\n\n// Points valides → branche true du IF\nreturn processedRecords.map(record => ({\n  json: {\n    ...record,\n    hasData: true\n  }\n}));"
      },
      "id": "7531d7f3-5482-4603-b03e-f04f03de4fb3",
      "name": "⚙️ Process CSV → Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-hasdata",
              "leftValue": "={{ $json.hasData }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5a21a3fa-af4a-4653-a71d-f49099a0a4e8",
      "name": "🔍 A-t-on des points ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Nœud : \"Générer SQL INSERT\" – version corrigée\n// Déduplication JS avant INSERT pour couvrir 100% des cas\n// ============================================================\n\nconst records = $input.all().filter(item => item.json.hasData === true);\n\nif (records.length === 0) {\n  return [{ json: { hasData: false, query: null, count: 0 } }];\n}\n\n// ── 1. Clé composite UNIQUE (miroir exact de la contrainte DB) ──\n//    source | latitude | longitude | acq_datetime | satellite\nfunction dedupeKey(r) {\n  return [\n    r.source       || '',\n    r.latitude,\n    r.longitude,\n    r.acq_datetime || '',\n    r.satellite    || ''\n  ].join('|');\n}\n\n// ── 2. Déduplication en mémoire ──────────────────────────────\n//    Stratégie : on garde le record avec le FRP le plus élevé\n//    en cas de collision (données plus récentes/précises)\nconst seen = new Map();\nlet dupCount = 0;\n\nfor (const item of records) {\n  const r   = item.json;\n  const key = dedupeKey(r);\n\n  if (seen.has(key)) {\n    dupCount++;\n    const existing = seen.get(key);\n    // Garder le FRP max (mesure la plus précise du feu)\n    if ((r.frp || 0) > (existing.frp || 0)) {\n      seen.set(key, r);\n    }\n  } else {\n    seen.set(key, r);\n  }\n}\n\nconst dedupedRecords = [...seen.values()];\n\n// ── 3. Echappement SQL robuste ────────────────────────────────\nfunction sqlVal(val) {\n  if (val === null || val === undefined) return 'NULL';\n  if (typeof val === 'boolean')          return val ? 'TRUE' : 'FALSE';\n  if (typeof val === 'number') {\n    return (isNaN(val) || !isFinite(val)) ? 'NULL' : String(val);\n  }\n  if (typeof val === 'string') {\n    return `'${val.replace(/'/g, \"''\")}'`;\n  }\n  return 'NULL';\n}\n\n// ── 4. Construire les VALUES ──────────────────────────────────\nconst valueRows = dedupedRecords.map(r => `  (${[\n  sqlVal(r.source),\n  sqlVal(r.latitude),\n  sqlVal(r.longitude),\n  sqlVal(r.acq_datetime),\n  sqlVal(r.satellite),\n  sqlVal(r.instrument),\n  sqlVal(r.confidence),\n  sqlVal(r.version),\n  sqlVal(r.frp),\n  sqlVal(r.scan),\n  sqlVal(r.track),\n  sqlVal(r.daynight),\n  sqlVal(r.brightness),\n  sqlVal(r.bright_secondary)\n].join(', ')})`);\n\n// ── 5. Requête finale avec ON CONFLICT complet ────────────────\n//    La contrainte DB reste le filet de sécurité ultime\n//    DO UPDATE uniquement si les valeurs ont réellement changé\nconst query = `INSERT INTO firms_fire_detections (\n  source, latitude, longitude, acq_datetime,\n  satellite, instrument, confidence, version,\n  frp, scan, track, daynight,\n  brightness, bright_secondary\n) VALUES\n${valueRows.join(',\\n')}\nON CONFLICT (source, latitude, longitude, acq_datetime, satellite)\nDO UPDATE SET\n  frp              = GREATEST(EXCLUDED.frp, firms_fire_detections.frp),\n  brightness       = EXCLUDED.brightness,\n  bright_secondary = EXCLUDED.bright_secondary,\n  confidence       = EXCLUDED.confidence,\n  updated_at       = NOW()\nWHERE\n  firms_fire_detections.frp IS DISTINCT FROM EXCLUDED.frp\n  OR firms_fire_detections.brightness IS DISTINCT FROM EXCLUDED.brightness;`;\n\nreturn [{\n  json: {\n    query,\n    hasData: true,\n    count_raw:       records.length,\n    count_deduped:   dedupedRecords.length,\n    count_duplicates_removed: dupCount,\n    sources: [...new Set(dedupedRecords.map(r => r.source))],\n    inserted_at: new Date().toISOString()\n  }\n}];fa"
      },
      "id": "b05e9543-c5c1-4ad0-a255-14cf10b4218f",
      "name": "📝 Générer SQL INSERT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query}}",
        "options": {}
      },
      "id": "a84e00b4-230b-4b17-b34a-8ba6c00e21de",
      "name": "🐘 PostgreSQL Supabase",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1440,
        32
      ],
      "credentials": {
        "postgres": {
          "id": "VrfeydQ17wFPcy4v",
          "name": "JeryMotrotsikynyantsa1@outlook.fr"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Nœud : \"Rapport d'Erreur DB\" – FIRMS Madagascar\n// Génère un rapport HTML stylisé en cas d'échec PostgreSQL\n// À placer APRÈS le nœud PostgreSQL (branche onError ou suite)\n// ============================================================\n\nconst item = $input.first();\nconst now  = new Date();\n\n// ── 1. Extraction et classification de l'erreur ──────────────\nfunction classifyError(raw) {\n  const msg = (raw?.message || raw?.error?.message || JSON.stringify(raw) || '').toString();\n  const code = raw?.code || raw?.error?.code || null;\n\n  const types = [\n    {\n      id:      'CONN',\n      label:   'Connexion impossible',\n      pattern: /ECONNREFUSED|ENOTFOUND|connection refused|connect ETIMEDOUT/i,\n      hint:    'Le serveur Supabase est inaccessible. Vérifier les credentials n8n et que le projet Supabase est actif.',\n      severity:'critical'\n    },\n    {\n      id:      'AUTH',\n      label:   'Authentification refusée',\n      pattern: /password authentication failed|role .* does not exist|SASL/i,\n      hint:    'Mot de passe ou utilisateur incorrect dans les credentials n8n (Postgres).',\n      severity:'critical'\n    },\n    {\n      id:      'UNIQUE',\n      label:   'Violation contrainte UNIQUE',\n      pattern: /duplicate key value|unique constraint|23505/i,\n      hint:    'La déduplication JS a laissé passer un doublon, ou la contrainte DB est plus stricte que prévu.',\n      severity:'warning'\n    },\n    {\n      id:      'SCHEMA',\n      label:   'Erreur de schéma',\n      pattern: /column .* does not exist|relation .* does not exist|syntax error|42703|42P01/i,\n      hint:    'La table firms_fire_detections n\\'existe pas ou une colonne a changé de nom. Relancer le SQL d\\'initialisation.',\n      severity:'critical'\n    },\n    {\n      id:      'TIMEOUT',\n      label:   'Timeout requête',\n      pattern: /timeout|statement timeout|query_timeout/i,\n      hint:    'Le batch INSERT est trop volumineux. Réduire la fenêtre d\\'appel API ou fractionner le INSERT.',\n      severity:'warning'\n    },\n    {\n      id:      'SSL',\n      label:   'Erreur SSL/TLS',\n      pattern: /SSL|TLS|certificate|self signed/i,\n      hint:    'Activer \"SSL: require\" dans les credentials n8n pour Supabase.',\n      severity:'critical'\n    },\n    {\n      id:      'DATA',\n      label:   'Erreur de données',\n      pattern: /invalid input syntax|value too long|out of range|22001|22003|22P02/i,\n      hint:    'Une valeur mal formée a été envoyée. Vérifier le nœud \"Process CSV → Records\".',\n      severity:'warning'\n    },\n  ];\n\n  for (const t of types) {\n    if (t.pattern.test(msg) || (code && t.pattern.test(String(code)))) {\n      return { ...t, rawMessage: msg, code };\n    }\n  }\n\n  return {\n    id:       'UNKNOWN',\n    label:    'Erreur inconnue',\n    pattern:  null,\n    hint:     'Consulter les logs n8n pour plus de détails.',\n    severity: 'warning',\n    rawMessage: msg,\n    code\n  };\n}\n\n// ── 2. Récupérer le contexte du batch depuis le nœud précédent ─\nlet batchContext = {};\ntry {\n  // Le nœud \"Générer SQL INSERT\" expose ces champs\n  const sqlNode = $('📝 Générer SQL INSERT').first().json;\n  batchContext = {\n    count_raw:               sqlNode.count_raw               ?? '—',\n    count_deduped:           sqlNode.count_deduped           ?? '—',\n    count_duplicates_removed: sqlNode.count_duplicates_removed ?? '—',\n    sources:                 (sqlNode.sources || []).join(', ') || '—',\n    inserted_at:             sqlNode.inserted_at             ?? '—'\n  };\n} catch (_) {\n  batchContext = {\n    count_raw: '—', count_deduped: '—',\n    count_duplicates_removed: '—', sources: '—', inserted_at: '—'\n  };\n}\n\nconst error   = classifyError(item.json);\nconst execId  = $execution?.id  ?? 'N/A';\nconst wfName  = $workflow?.name ?? 'FIRMS Madagascar';\n\n// ── 3. Helpers HTML ───────────────────────────────────────────\nconst fmt = d => new Date(d).toLocaleString('fr-FR', {\n  timeZone: 'Indian/Antananarivo',\n  day:'2-digit', month:'2-digit', year:'numeric',\n  hour:'2-digit', minute:'2-digit', second:'2-digit'\n});\n\nconst severityColor  = error.severity === 'critical' ? '#FF4545' : '#F5A623';\nconst severityLabel  = error.severity === 'critical' ? 'CRITIQUE' : 'AVERTISSEMENT';\nconst severityBg     = error.severity === 'critical'\n  ? 'rgba(255,69,69,0.08)' : 'rgba(245,166,35,0.08)';\nconst severityBorder = error.severity === 'critical'\n  ? 'rgba(255,69,69,0.35)' : 'rgba(245,166,35,0.35)';\n\n// ── 4. Génération HTML ────────────────────────────────────────\nconst html = `<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n<title>FIRMS – Rapport d'erreur DB</title>\n<style>\n  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=IBM+Plex+Sans:wght@400;500;600&display=swap');\n\n  *, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }\n\n  :root {\n    --bg:          #0d0f12;\n    --bg-card:     #13161b;\n    --bg-inset:    #0a0c0f;\n    --border:      rgba(255,255,255,0.07);\n    --border-soft: rgba(255,255,255,0.04);\n    --text:        #e2e4e9;\n    --text-muted:  #6b7280;\n    --text-dim:    #3d4350;\n    --accent:      #00c896;\n    --mono:        'IBM Plex Mono', monospace;\n    --sans:        'IBM Plex Sans', sans-serif;\n    --radius:      6px;\n  }\n\n  body {\n    font-family: var(--sans);\n    background: var(--bg);\n    color: var(--text);\n    min-height: 100vh;\n    padding: 40px 24px;\n    line-height: 1.6;\n  }\n\n  .wrapper {\n    max-width: 820px;\n    margin: 0 auto;\n  }\n\n  /* ── Header ── */\n  .header {\n    display: flex;\n    align-items: flex-start;\n    justify-content: space-between;\n    margin-bottom: 32px;\n    padding-bottom: 24px;\n    border-bottom: 1px solid var(--border);\n  }\n\n  .logo-row {\n    display: flex;\n    align-items: center;\n    gap: 12px;\n    margin-bottom: 6px;\n  }\n\n  .logo-icon {\n    width: 32px; height: 32px;\n    background: var(--accent);\n    border-radius: 4px;\n    display: flex; align-items: center; justify-content: center;\n    flex-shrink: 0;\n  }\n\n  .logo-icon svg { width: 18px; height: 18px; }\n\n  .header-title {\n    font-family: var(--mono);\n    font-size: 13px;\n    font-weight: 600;\n    letter-spacing: 0.08em;\n    color: var(--text-muted);\n    text-transform: uppercase;\n  }\n\n  .header-wf {\n    font-size: 22px;\n    font-weight: 600;\n    color: var(--text);\n    letter-spacing: -0.02em;\n  }\n\n  .timestamp {\n    font-family: var(--mono);\n    font-size: 11px;\n    color: var(--text-muted);\n    text-align: right;\n    line-height: 1.8;\n  }\n\n  /* ── Severity banner ── */\n  .severity-banner {\n    display: flex;\n    align-items: center;\n    gap: 16px;\n    padding: 16px 20px;\n    background: ${severityBg};\n    border: 1px solid ${severityBorder};\n    border-left: 3px solid ${severityColor};\n    border-radius: var(--radius);\n    margin-bottom: 24px;\n    animation: fadeIn .4s ease;\n  }\n\n  .severity-dot {\n    width: 10px; height: 10px;\n    border-radius: 50%;\n    background: ${severityColor};\n    flex-shrink: 0;\n    animation: pulse 2s ease-in-out infinite;\n  }\n\n  @keyframes pulse {\n    0%,100% { opacity: 1; transform: scale(1); }\n    50%      { opacity: .5; transform: scale(1.4); }\n  }\n\n  .severity-tag {\n    font-family: var(--mono);\n    font-size: 10px;\n    font-weight: 600;\n    letter-spacing: 0.12em;\n    color: ${severityColor};\n    background: ${severityBg};\n    border: 1px solid ${severityBorder};\n    border-radius: 3px;\n    padding: 2px 7px;\n    flex-shrink: 0;\n  }\n\n  .severity-label {\n    font-size: 15px;\n    font-weight: 500;\n    color: var(--text);\n  }\n\n  .severity-code {\n    font-family: var(--mono);\n    font-size: 11px;\n    color: var(--text-muted);\n    margin-left: auto;\n  }\n\n  /* ── Cards ── */\n  .card {\n    background: var(--bg-card);\n    border: 1px solid var(--border);\n    border-radius: var(--radius);\n    margin-bottom: 16px;\n    overflow: hidden;\n    animation: slideUp .35s ease both;\n  }\n\n  .card:nth-child(1) { animation-delay: .05s; }\n  .card:nth-child(2) { animation-delay: .10s; }\n  .card:nth-child(3) { animation-delay: .15s; }\n  .card:nth-child(4) { animation-delay: .20s; }\n\n  @keyframes slideUp {\n    from { opacity: 0; transform: translateY(8px); }\n    to   { opacity: 1; transform: translateY(0); }\n  }\n\n  @keyframes fadeIn {\n    from { opacity: 0; }\n    to   { opacity: 1; }\n  }\n\n  .card-header {\n    display: flex;\n    align-items: center;\n    gap: 10px;\n    padding: 12px 20px;\n    border-bottom: 1px solid var(--border-soft);\n    background: var(--bg-inset);\n  }\n\n  .card-header-dot {\n    width: 6px; height: 6px;\n    border-radius: 50%;\n    background: var(--accent);\n    flex-shrink: 0;\n  }\n\n  .card-title {\n    font-family: var(--mono);\n    font-size: 11px;\n    font-weight: 600;\n    letter-spacing: 0.1em;\n    text-transform: uppercase;\n    color: var(--text-muted);\n  }\n\n  /* ── KV grid ── */\n  .kv-grid {\n    display: grid;\n    grid-template-columns: 200px 1fr;\n    gap: 0;\n  }\n\n  .kv-row {\n    display: contents;\n  }\n\n  .kv-row > * {\n    padding: 10px 20px;\n    border-bottom: 1px solid var(--border-soft);\n    font-size: 13px;\n    line-height: 1.5;\n  }\n\n  .kv-row:last-child > * {\n    border-bottom: none;\n  }\n\n  .kv-key {\n    font-family: var(--mono);\n    font-size: 11px;\n    color: var(--text-muted);\n    display: flex;\n    align-items: flex-start;\n    padding-top: 12px;\n  }\n\n  .kv-val {\n    color: var(--text);\n    word-break: break-word;\n    font-family: var(--mono);\n    font-size: 12px;\n  }\n\n  /* ── Error message box ── */\n  .error-msg-box {\n    margin: 16px 20px;\n    background: var(--bg-inset);\n    border: 1px solid var(--border);\n    border-left: 2px solid ${severityColor};\n    border-radius: 4px;\n    padding: 14px 16px;\n    font-family: var(--mono);\n    font-size: 12px;\n    color: #f87171;\n    white-space: pre-wrap;\n    word-break: break-word;\n    max-height: 200px;\n    overflow-y: auto;\n    line-height: 1.7;\n  }\n\n  .error-msg-box::-webkit-scrollbar { width: 4px; }\n  .error-msg-box::-webkit-scrollbar-track { background: transparent; }\n  .error-msg-box::-webkit-scrollbar-thumb { background: var(--border); border-radius: 2px; }\n\n  /* ── Hint box ── */\n  .hint-box {\n    margin: 0 20px 16px;\n    display: flex;\n    gap: 12px;\n    align-items: flex-start;\n    padding: 12px 16px;\n    background: rgba(0,200,150,0.05);\n    border: 1px solid rgba(0,200,150,0.15);\n    border-radius: 4px;\n  }\n\n  .hint-icon {\n    font-family: var(--mono);\n    font-size: 11px;\n    color: var(--accent);\n    flex-shrink: 0;\n    margin-top: 2px;\n    letter-spacing: .05em;\n  }\n\n  .hint-text {\n    font-size: 13px;\n    color: #94a3b8;\n    line-height: 1.6;\n  }\n\n  /* ── Stats row ── */\n  .stats-row {\n    display: grid;\n    grid-template-columns: repeat(3, 1fr);\n    gap: 1px;\n    background: var(--border);\n  }\n\n  .stat-cell {\n    background: var(--bg-card);\n    padding: 16px 20px;\n  }\n\n  .stat-label {\n    font-family: var(--mono);\n    font-size: 10px;\n    letter-spacing: 0.1em;\n    text-transform: uppercase;\n    color: var(--text-muted);\n    margin-bottom: 6px;\n  }\n\n  .stat-value {\n    font-family: var(--mono);\n    font-size: 22px;\n    font-weight: 600;\n    color: var(--text);\n    letter-spacing: -0.02em;\n  }\n\n  .stat-value.warn { color: ${severityColor}; }\n\n  /* ── Footer ── */\n  .footer {\n    margin-top: 32px;\n    padding-top: 20px;\n    border-top: 1px solid var(--border);\n    display: flex;\n    justify-content: space-between;\n    align-items: center;\n  }\n\n  .footer-left {\n    font-family: var(--mono);\n    font-size: 11px;\n    color: var(--text-dim);\n    letter-spacing: 0.05em;\n  }\n\n  .footer-right {\n    font-family: var(--mono);\n    font-size: 11px;\n    color: var(--text-dim);\n  }\n\n  .exec-id {\n    font-family: var(--mono);\n    font-size: 11px;\n    color: var(--text-muted);\n    background: var(--bg-inset);\n    border: 1px solid var(--border);\n    padding: 3px 8px;\n    border-radius: 3px;\n  }\n</style>\n</head>\n<body>\n<div class=\"wrapper\">\n\n  <!-- Header -->\n  <div class=\"header\">\n    <div>\n      <div class=\"logo-row\">\n        <div class=\"logo-icon\">\n          <svg viewBox=\"0 0 18 18\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n            <path d=\"M9 2L11.5 7H16L12 10.5L13.5 16L9 13L4.5 16L6 10.5L2 7H6.5L9 2Z\"\n              fill=\"#0d0f12\" stroke=\"#0d0f12\" stroke-width=\"0.5\"/>\n          </svg>\n        </div>\n        <span class=\"header-title\">FIRMS / Madagascar / n8n</span>\n      </div>\n      <div class=\"header-wf\">Rapport d'erreur – Pipeline DB</div>\n    </div>\n    <div class=\"timestamp\">\n      <div>${fmt(now)}</div>\n      <div style=\"margin-top:4px\"><span class=\"exec-id\">exec: ${execId}</span></div>\n    </div>\n  </div>\n\n  <!-- Severity banner -->\n  <div class=\"severity-banner\">\n    <div class=\"severity-dot\"></div>\n    <span class=\"severity-tag\">${severityLabel}</span>\n    <span class=\"severity-label\">${error.label} [${error.id}]</span>\n    ${error.code ? `<span class=\"severity-code\">PG${error.code}</span>` : ''}\n  </div>\n\n  <!-- Card 1 : Message d'erreur brut -->\n  <div class=\"card\">\n    <div class=\"card-header\">\n      <div class=\"card-header-dot\"></div>\n      <span class=\"card-title\">Message d'erreur PostgreSQL</span>\n    </div>\n    <div class=\"error-msg-box\">${\n      error.rawMessage\n        .replace(/&/g,'&amp;')\n        .replace(/</g,'&lt;')\n        .replace(/>/g,'&gt;')\n    }</div>\n    <div class=\"hint-box\">\n      <span class=\"hint-icon\">HINT</span>\n      <span class=\"hint-text\">${error.hint}</span>\n    </div>\n  </div>\n\n  <!-- Card 2 : Contexte du batch -->\n  <div class=\"card\">\n    <div class=\"card-header\">\n      <div class=\"card-header-dot\" style=\"background:#6366f1\"></div>\n      <span class=\"card-title\">Contexte du batch FIRMS</span>\n    </div>\n    <div class=\"stats-row\">\n      <div class=\"stat-cell\">\n        <div class=\"stat-label\">Points bruts</div>\n        <div class=\"stat-value\">${batchContext.count_raw}</div>\n      </div>\n      <div class=\"stat-cell\">\n        <div class=\"stat-label\">Après dédup</div>\n        <div class=\"stat-value\">${batchContext.count_deduped}</div>\n      </div>\n      <div class=\"stat-cell\">\n        <div class=\"stat-label\">Doublons retirés</div>\n        <div class=\"stat-value warn\">${batchContext.count_duplicates_removed}</div>\n      </div>\n    </div>\n    <div class=\"kv-grid\" style=\"padding:0\">\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">sources</div>\n        <div class=\"kv-val\">${batchContext.sources}</div>\n      </div>\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">horodatage batch</div>\n        <div class=\"kv-val\">${batchContext.inserted_at !== '—' ? fmt(batchContext.inserted_at) : '—'}</div>\n      </div>\n    </div>\n  </div>\n\n  <!-- Card 3 : Détails techniques -->\n  <div class=\"card\">\n    <div class=\"card-header\">\n      <div class=\"card-header-dot\" style=\"background:#f59e0b\"></div>\n      <span class=\"card-title\">Détails techniques</span>\n    </div>\n    <div class=\"kv-grid\">\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">type</div>\n        <div class=\"kv-val\">${error.id}</div>\n      </div>\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">sévérité</div>\n        <div class=\"kv-val\" style=\"color:${severityColor}\">${severityLabel}</div>\n      </div>\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">code PG</div>\n        <div class=\"kv-val\">${error.code ?? '—'}</div>\n      </div>\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">workflow</div>\n        <div class=\"kv-val\">${wfName}</div>\n      </div>\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">execution id</div>\n        <div class=\"kv-val\">${execId}</div>\n      </div>\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">nœud source</div>\n        <div class=\"kv-val\">🐘 PostgreSQL Supabase</div>\n      </div>\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">heure locale (EAT)</div>\n        <div class=\"kv-val\">${fmt(now)}</div>\n      </div>\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">heure UTC</div>\n        <div class=\"kv-val\">${now.toISOString()}</div>\n      </div>\n    </div>\n  </div>\n\n  <!-- Card 4 : Actions correctives -->\n  <div class=\"card\">\n    <div class=\"card-header\">\n      <div class=\"card-header-dot\" style=\"background:#22d3ee\"></div>\n      <span class=\"card-title\">Actions correctives recommandées</span>\n    </div>\n    <div class=\"kv-grid\">\n      ${error.id === 'CONN' ? `\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">01</div>\n        <div class=\"kv-val\">Vérifier que le projet Supabase est actif (dashboard.supabase.com)</div>\n      </div>\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">02</div>\n        <div class=\"kv-val\">Contrôler l'host/port dans les credentials n8n (db.&lt;ref&gt;.supabase.co:5432)</div>\n      </div>\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">03</div>\n        <div class=\"kv-val\">Vérifier que SSL est activé en mode \"require\"</div>\n      </div>` : ''}\n      ${error.id === 'AUTH' ? `\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">01</div>\n        <div class=\"kv-val\">Régénérer le mot de passe DB dans Supabase → Settings → Database</div>\n      </div>\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">02</div>\n        <div class=\"kv-val\">Mettre à jour les credentials n8n avec le nouveau mot de passe</div>\n      </div>` : ''}\n      ${error.id === 'SCHEMA' ? `\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">01</div>\n        <div class=\"kv-val\">Exécuter firms_supabase_init.sql dans l'éditeur SQL de Supabase</div>\n      </div>\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">02</div>\n        <div class=\"kv-val\">Vérifier que les colonnes du INSERT correspondent à la table actuelle</div>\n      </div>` : ''}\n      ${error.id === 'UNIQUE' ? `\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">01</div>\n        <div class=\"kv-val\">Vérifier la clé de déduplication dans le nœud \"Générer SQL INSERT\"</div>\n      </div>\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">02</div>\n        <div class=\"kv-val\">Comparer la contrainte UNIQUE DB avec la Map JS (source+lat+lon+datetime+satellite)</div>\n      </div>` : ''}\n      ${error.id === 'TIMEOUT' ? `\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">01</div>\n        <div class=\"kv-val\">Réduire la fenêtre d'appel API de 1 jour à 12 heures (/12 dans l'URL)</div>\n      </div>\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">02</div>\n        <div class=\"kv-val\">Fractionner le VALUES en plusieurs batches de 500 lignes max</div>\n      </div>` : ''}\n      ${(error.id === 'SSL' || error.id === 'DATA' || error.id === 'UNKNOWN') ? `\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">01</div>\n        <div class=\"kv-val\">${error.hint}</div>\n      </div>` : ''}\n      <div class=\"kv-row\">\n        <div class=\"kv-key\">réexécuter</div>\n        <div class=\"kv-val\">Corriger l'erreur puis relancer manuellement depuis n8n → Executions</div>\n      </div>\n    </div>\n  </div>\n\n  <!-- Footer -->\n  <div class=\"footer\">\n    <span class=\"footer-left\">FIRMS · MODIS + VIIRS · Madagascar</span>\n    <span class=\"footer-right\">NASA EARTHDATA · ${now.getFullYear()}</span>\n  </div>\n\n</div>\n</body>\n</html>`;\n\n// ── 5. Sortie du nœud ─────────────────────────────────────────\nreturn [{\n  json: {\n    status:         'db_error',\n    error_type:     error.id,\n    error_label:    error.label,\n    severity:       error.severity,\n    error_message:  error.rawMessage,\n    pg_code:        error.code,\n    hint:           error.hint,\n    batch_context:  batchContext,\n    workflow:       wfName,\n    execution_id:   execId,\n    timestamp:      now.toISOString(),\n    html_report:    html\n  }\n}];"
      },
      "id": "e51577be-2934-42a4-8a40-e8c1a9734eb4",
      "name": "❌ Log Erreur DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// ── Aucun point de feu détecté ──────────────────────────────\nconst item = $input.first();\nconsole.log('[FIRMS] Exécution sans données :', JSON.stringify({\n  timestamp: new Date().toISOString(),\n  message: item.json.message,\n  errors: item.json.errors\n}));\nreturn [{ json: { status: 'no_fire_detected', ...item.json } }];"
      },
      "id": "756481ca-8260-4a2f-8d70-d8bc3a28e3fd",
      "name": "🔕 Aucun Feu – Stop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        288
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "a95aaa4d-2884-4d34-9c83-4a4164a1f402",
      "name": "⏱ Toutes les 3 Heures",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        144
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "🔑 Set MAP_KEY": {
      "main": [
        [
          {
            "node": "🛰 HTTP MODIS",
            "type": "main",
            "index": 0
          },
          {
            "node": "🛰 HTTP VIIRS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛰 HTTP MODIS": {
      "main": [
        [
          {
            "node": "🏷 Tag MODIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏷 Tag MODIS": {
      "main": [
        [
          {
            "node": "🔀 Merge MODIS + VIIRS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛰 HTTP VIIRS": {
      "main": [
        [
          {
            "node": "🏷 Tag VIIRS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏷 Tag VIIRS": {
      "main": [
        [
          {
            "node": "🔀 Merge MODIS + VIIRS",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🔀 Merge MODIS + VIIRS": {
      "main": [
        [
          {
            "node": "⚙️ Process CSV → Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Process CSV → Records": {
      "main": [
        [
          {
            "node": "🔍 A-t-on des points ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 A-t-on des points ?": {
      "main": [
        [
          {
            "node": "📝 Générer SQL INSERT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔕 Aucun Feu – Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Générer SQL INSERT": {
      "main": [
        [
          {
            "node": "🐘 PostgreSQL Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🐘 PostgreSQL Supabase": {
      "main": [
        [
          {
            "node": "❌ Log Erreur DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ Log Erreur DB": {
      "main": [
        []
      ]
    },
    "⏱ Toutes les 3 Heures": {
      "main": [
        [
          {
            "node": "🔑 Set MAP_KEY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fcd12aa4-4472-4662-80f3-bedac86803cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3dff2422489196dbb4e4cacef45ee545991c157673b154bed5ce2dc3d072b85a"
  },
  "id": "VssW1ZWrOcCKMLi3",
  "tags": []
}